{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <p></p>

    <!-- Message saying the manual access to an auction did not work-->
    {% if message %}
     <div style="color: red;">{{ message }}</div>
     <p></p>
    {% endif %}
   
    <!-- Looping over all auctions and display their content-->
    {% for auction in auctions %}

        <!-- Creating a tab  which content depends on type of auction-->
        <div class="border border-secondary rounded">
            <div class="container">
                <div class="row">
                    <!-- "Left side" -->
                    <div class="col-4">
                        <!-- Display auction's image if it exists -->
                        {% if auction.image %}
                            <img src="{{ auction.image }}" alt="Image for {{ auction.title }}" style="height: 100%; width: 100%; object-fit: contain">
                        <!-- Display "missing image" image if auciton does´t have image -->
                        {% else %}
                            <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg " alt="No Image here" style="height: 100%; width: 100%; object-fit: contain">
                        {% endif %}
                    </div>
                    <!-- "Right side" -->
                    <div class="col-8">
                        <!-- Displaying title with link to the auction's page -->
                        <h1><a href="{% url 'auction' auction.id %}">{{ auction.title }}</a></h1>
                        <p></p>
                        <p></p>
                        <b>Current price: {{ auction.highestbid }} Euros.</b>
                        <p></p> 
                        <i> The starting bid for this items was {{ auction.startingbid }} Euros.</i> 
                        <p></p> 
                        <!-- If the auction has a category, display it -->
                        {% if auction.category %}
                            Category: {{ auction.category.category }}
                        <!-- If not, display a general statement -->
                        {% else %}
                            <i>Listing category was not defined by the user</i>
                        <!-- Close if loop -->
                        {% endif %}
                        <p></p>

                        Uploaded by "{{ auction.userid.username }}"
                        <p></p>
                        Item description: <i>{{ auction.description }}</i>
                        
                    </div>
                </div>
            </div>
        </div>
        <p></p>
        
    <!-- Adding possibility that there is NO auction -->
    {% empty %}
        <li>There are currently no auction!</li>

    <!-- Finishing loop over auctions -->
    {% endfor %}
        <br>
        Do you want to sell an item? Create <a href="{% url 'createlisting' %}">here a new listing</a> 

{% endblock %}

<!-- Back up for images 
    Cat img https://steamuserimages-a.akamaihd.net/ugc/1644340994747007967/853B20CD7694F5CF40E83AAC670572A3FE1E3D35/
    Lama img https://ih1.redbubble.net/image.1036920113.4491/st,small,845x845-pad,1000x1000,f8f8f8.u1.jpg
    NO IMG: https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg 
--> 